<h2>Product Details</h2>
<p>{{ product.name }}</p>

<div *ngIf="product" class="item">
  <h3>{{ product.name }}</h3>
  <img src="{{product.imagePath}}" />
  <div class="info">
    <h4>{{ product.price | currency }}</h4>

    <div class="rating">
      <p><span>Rating:</span> {{ product.rating }}</p>
      <!-- <input type="radio" name="star" id="star1" /><label for="star1">★</label>
      <input type="radio" name="star" id="star2" /><label for="star2">★</label>
      <input type="radio" name="star" id="star3" /><label for="star3">★</label>
      <input type="radio" name="star" id="star4" /><label for="star4">★</label>
      <input type="radio" name="star" id="star5" /><label for="star5">★</label> -->
    </div>

    <p class="bold">Description:</p>
    <p>{{ product.description }}</p>
    <p><a href="{{product.source}}">Source</a></p>
  </div>
  <div class="divider"></div>
  <button (click)="addToCart(product)">Buy</button>

  <share-buttons
  [theme]="$1"
  [include]="['telegram','whatsapp']"
  [show]="1"
  [size]="1"
  [autoSetMeta]="false"
  ></share-buttons>
</div>
