img {
  width: 150px;
  padding: 5px;
}
p {
  font-size: 13px;
}
.categories li {
  display: inline-block;
  padding-right: 50px;
  cursor: pointer;
}
.categories li:hover {
  color: dodgerblue;
}
.categories ul {
  text-align: center;
}

.productslist {
  width: 160px;
  height: 460px;
  display: inline-table;
  padding: 10px;
  border-bottom: 1px solid silver;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/